@font-face {
  font-family: abster;
  src: url(font/abster-webfont.woff) format("woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

.container {
  width: 100%;
  height: 100vh; /* height는 100%라고 해도 100을 가지지는 못한다! vh를 사용해서 그냥 뷰포트단위로 처리*/
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/room.jpg);
}

.header {
  width: 80%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 a {
  text-decoration: none;
  color: white;
  font-family: abster;
}

.nav ul li {
  display: inline-block;
  margin: 0 10px;
}
.nav ul li a {
  text-decoration: none;
  color: white;
}

.nav ul li a:hover {
  color: #1fdfdf;
}

.hero {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container .hero h2 {
  font-size: 60px;
  margin-bottom: 20px;
}
.hero p {
  font-size: 22px;
  margin-bottom: 10px;
}

.hero button {
  background: none;
  border: 2px solid darkseagreen;
  border-radius: 20px;
  padding: 15px 20px;
  color: white;
  margin-top: 30px;
  outline: none;
  cursor: pointer;
  transition: all 0.4s;
}
.hero button:hover {
  background-color: darkslategray;
}
